
<div class="jumbotron">
  <div class="container-fluid">
      <h1>Wuff Riders Daycare</h1>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mission">
        <p>Here at Wuff Riders Daycare, we strive to make sure your dog is comfortable. 
        </p>
        <p><a class="btn btn-default" href="#" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Learn more!</a></p>
      </div>
    </div>